* {
  list-style: none;
  text-decoration: none;
}
body {

}
.label label {
  color: #fff !important;
}
.main {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
h1 {
  text-align: center;
  color: #fff;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.login-form form {
  max-width: none !important;
  /* width: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-form form input {
    width: 500px;
}
.site-page-header-ghost-wrapper {
  padding: 24px;
  background-color: #f5f5f5;
}

.header {
  width: 100%;
  height: 56px;
  background: #211d1d;
}
.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.header ul li a{
  color: #fff;
}